[submodule "vim/bundle/vim-addon-mw-utils"]
  path = vim/bundle/vim-addon-mw-utils
  url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/vim-node"]
	path = vim/bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "vim/bundle/--force"]
	path = vim/bundle/--force
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/vim-rhubarb"]
	path = vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "vim/bundle/vim-prettier"]
	path = vim/bundle/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule "vim/bundle/vim-test"]
	path = vim/bundle/vim-test
	url = git@github.com:janko/vim-test.git
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "vim/bundle/neodark.vim"]
	path = vim/bundle/neodark.vim
	url = git@github.com:KeitaNakamura/neodark.vim.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/bundle/coc.nvim"]
	path = vim/bundle/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "vim/bundle/markdown-preview.nvim"]
	path = vim/bundle/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "vim/bundle/coc-svelte"]
	path = vim/bundle/coc-svelte
	url = https://github.com/coc-extensions/coc-svelte
[submodule "vim/bundle/vim-svelte"]
	path = vim/bundle/vim-svelte
	url = https://github.com/evanleck/vim-svelte
